<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link href="/lib/layui/css/layui.css" rel="stylesheet" />
</head>
<body>
    <div id="app-frame" class="p20">
        @RenderBody()
    </div>
</body>
</html>
<script src="/lib/vue/lib/vue.min.js"></script>
<script src="/lib/vue/lib/vue-resource.min.js"></script>
<script src="/lib/layui/layui.js"></script>
@RenderSection("Scripts", required: false)
